<html lang="en">
  <head>
    <meta lang="en">
    <meta charset="utf-8">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
    <meta name="keywords" content="battleship, online, game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BattleScript</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/gamescreen.js"></script>
  </head>
  <body background="images/map.png">
    <header>
      <h1><img src="images/title.png" class="center" alt="title"></h1>
    </header>
    <article background>
      <h2 id="ins">Instructions</h2>
      <p class="text">Ships can be placed horizontally or vertically, but not diagonally.<br><br>
You must place all five ships on the grid.<br><br>
Every ship must be completely on the grid. <br><br>No ship can hang off the edge of the board.<br><br>
Ships cannot overlap each other.<br><br>
Once your ships are placed and the game has begun, you are not allowed to move your ships again.</p>
    </article>
    <br><br><br><br>
    <form action="/play" method="get"> <button type="submit">PLAY</button></form>
    <!-- <a href ="gamescreen.html">PLAY</a> -->
<br>
<footer>
<br><br><br><br><br>

<p id="stats">
  <h2>Game Statistics</h2>
              <%= gamesInitialized %>
              <%if (gamesInitialized != 1) { %>
                  games
              <% } else { %>
                  game
              <% } %>
              initialized,
              <%= gamesCompleted %>
              completed,
              <%= gamePlayers %>
              <%if (gamePlayers != 1) { %>
                  players
              <% } else { %>
                  player
              <% } %>
</p>

<form>
  <input type="text" value="Active matches:" />
  <input type="text" value="Active users:" />
  <input type="text" value="Current Score:" />
</form>
<br><br><br>
<h6 id="name"> &copy;  Pablo & Shruti </h6>
</footer>
<script src="javascripts/pageviewing.js"></script>
  </body>
</html>
